/* Your CSS Code here. */
.holder{
	align-items: center;
	text-align: center;
}
.moviePic{
	heigth: 50%;
	margin: auto;
	opacity:1.5;
}
.movieDetail{
	text-align: justify;
	margin-top: 20px;
	font-size: 15px;
}